body {
  text-align: center;
  overflow: hidden;
}

:root {
  --slides-position: -20px;
  --width-of-div: 640px;
  --height-of-div: 860px;
}

* {
  margin: 0;
  border: 0;
}

header {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  padding-top: 38px;
  padding-bottom: 38px;
  line-height: 1.1875;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1, h3 {
  padding-bottom: 38px;
}

h2, h4, h5, header, p {
  line-height: 1.4;
}

h4 {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h5, p {
  text-align: left;
}

h5 {
  padding-top: 10px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.artist-name, .image-credit, .review-credit {
  text-decoration: none;
}

.carousel {
  width: var(--width-of-div);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.album, .carousel, .carousel-slides {
  height: var(--height-of-div);
}

.carousel-slides {
  display: flex;
  width: calc(4 * var(--width-of-div));
  margin-left: var(--slides-position);
  transition: margin-left .5s ease;
}

.album {
  display: inline-block;
  width: var(--width-of-div);
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-slides > div:nth-child(1) > .album-image {
  background-image: url(../img/123922404231ebe6a740dz.jpg);
  width: var(--width-of-div);
  height: 427px;
}

.carousel-slides > div:nth-child(2) > .album-image {
  background-image: url(../img/1083556245330f4918d69z.jpg);
  width: var(--width-of-div);
  height: 427px;
}

.carousel-slides > div:nth-child(3) > .album-image {
  background-image: url(../img/150220590703a7dde293ez.jpg);
  width: var(--width-of-div);
  height: 480px;
}

.carousel-slides > div:nth-child(4) > .album-image {
  background-image: url(../img/60260329b2194b7366z.jpg);
  width: var(--width-of-div);
  height: 480px;
}

.carousel-navigation {
  position: absolute;
  width: var(--width-of-div);
  top: 425px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-navigation a:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.carousel-navigation a:nth-child(2) {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}
